body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Table1
{
   border: 1px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td
{
   padding: 0;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 174px;
   height: 36px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell1
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 48px;
   height: 36px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell2
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 120px;
   height: 36px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell3
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 150px;
   height: 36px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell4
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 48px;
   height: 36px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 11px;
   line-height: 12px;
}
#Table1 .cell5
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 174px;
   height: 36px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell6
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 48px;
   height: 36px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell7
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 120px;
   height: 36px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell8
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 150px;
   height: 36px;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#Table1 .cell9
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
   vertical-align: middle;
   width: 48px;
   height: 36px;
}
